/* RESET */
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #34114D;
}

/* CONTAINER GERAL */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

/* HEADER */
.header {
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 👈 alinha tudo à esquerda */
}

.header h1 {
  color: #fff;
  margin-bottom: 1em; /* 👈 menos espaço */
}

.header input {
  width: 100%;
  max-width: 420px; /* 👈 tamanho igual ao card */
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #d9d9c8;
  color: #000;
  font-size: 14px;
}

.inputs-endereco {
  display: flex;
  gap: 10px;
}

.inputs-endereco input {
  flex: 1;
}

/* CONTEÚDO (RESULTADO + HISTÓRICO) */
.content {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

/* CARD PADRÃO */
.card {
  flex: 1;
  background: linear-gradient(180deg, #8a02a3, #550162);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* HEADER DO CARD */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-header h2 {
  color: #fff;
  margin: 0;
}

/* BOTÃO */
.card-header button {
  background: #dc2626; /* vermelho */
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

/* estado após copiar */
.card-header button.copiado {
  background: #16a34a; /* verde */
}

/* CORPO DO CARD */
.card-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  overflow-y: auto;
}

/* ITENS DE INFO */
.info-item span {
  font-size: 12px;
  color: #d1d5db;
  text-transform: uppercase;
}

.info-item p {
  background: #d9d9c8;
  color: #000;
  padding: 12px;
  border-radius: 20px;
  margin: 4px 0 0;
  font-weight: bold;
}

/* HISTÓRICO */
.historico-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.2s;
}

.historico-item:hover {
  background: rgba(255, 255, 255, 0.05);
  transform: scale(1.02);
}

.historico-item.ativo {
  background: #d32f2f;
  color: white;
}

.toggle {
  display: flex;
  background: #FEFEFE;
  border-radius: 30px;
  padding: 4px;
  width: fit-content;
  margin-bottom: 10px;
}

.toggle button {
  border: none;
  background: transparent;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.toggle .ativo {
  background: #550162;
  color: #fff;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top: 4px solid #550162;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn-limpar {
  background: transparent;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-limpar:hover {
  background: #ff4d4d;
  color: white;
}

.leaflet-container {
  height: 300px;
  width: 100%;
  border-radius: 12px;
}